.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "Heroes")}", users_path
  .content
    %h2.title
      Heroes
    .inner
      %table.table
        %tr
          %th.first Name
          %th.last Title
        - @users.each do |user|
          %tr{:class => cycle("odd", "even")}
            %td{:width=>'120px'}= link_to "#{user.first_name} #{user.last_name}", user
            %td.last{:width=>'500px'}
              = user.job_title              
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
