.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.show", :default => "#{@user.first_name} #{@user.last_name}")}", user_path    
      %li= link_to "Your Projects", user_projects_path(:user_id=>@user)
  .content
    .inner
      %p
        %b
          = image_tag @user.profile_image_url
      %p
        %b
          = t("activerecord.attributes.user.first_name", :default => t("activerecord.labels.first_name", :default => "First name"))
          \:
        = @user.first_name
      %p
        %b
          = t("activerecord.attributes.user.last_name", :default => t("activerecord.labels.last_name", :default => "Last name"))
          \:
        = @user.last_name
      %p
        %b
          = t("activerecord.attributes.user.last_name", :default => t("activerecord.labels.last_name", :default => "Job Title"))
          \:
        = @user.job_title
      %p
        %b
          = t("activerecord.attributes.user.last_name", :default => t("activerecord.labels.last_name", :default => "Location"))
          \:
        = @user.location
      %p
        %b
          = t("activerecord.attributes.user.last_name", :default => t("activerecord.labels.last_name", :default => "LinkIn Profile"))
          \:
        = link_to @user.linked_in_url,@user.linked_in_url, :target=>'blank'
      - unless @user.skills.blank?
        %p
          %b
            = "Skills"
            \:
          = @user.skills
      - unless @user.experience.blank?
        %p
          %b
            = "Experience"
            \:
          = @user.experience
      - unless @user.volunteer_interests.blank?
        %p
          %b
            = "Volunteer Interest"
            \:
          = @user.volunteer_interest
      .wat-cf

      %h3 Volunteer Projects:
      - if @user.user_projects.blank?
        - if current_user
          %h4 You have no projects.   #{link_to 'Find a project to volunteer', projects_url}
      - else        
        - @user.user_projects.each do |user_project|
          %p
            * 
            = link_to user_project.project.name, project_path(user_project.project)
        - if current_user          
          %h4 #{link_to 'Volunteer for another Project', projects_url}      
      - if current_user == @user
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "Edit") + " " + "Edit Account", edit_user_path(@user), :class => "button"      
- content_for :sidebar, render(:partial => 'sidebar')