.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.show", :default => "#{@user.first_name} #{@user.last_name}")}", user_path    
      - if current_user
        %li= link_to "Your projects", user_projects_path(:user_id=>@user)
  .content
    .inner
      %p
        %b
          %div.pic= image_tag @user.profile_image_url
        - if @user.average_rating
          %div.rating= stars_for_rating(@user.average_rating.to_i).html_safe                        
      #herodetails
        %p
          %b
            = t("activerecord.attributes.user.first_name", :default => t("activerecord.labels.first_name", :default => "Hero name"))
            \:
          = @user.first_name
          = @user.last_name
        %p
          %b
            = t("activerecord.attributes.user.last_name", :default => t("activerecord.labels.last_name", :default => "Job title"))
            \:
          = @user.job_title
        %p
          %b
            = t("activerecord.attributes.user.last_name", :default => t("activerecord.labels.last_name", :default => "Location"))
            \:
          = @user.location
        %p
          %b
            = t("activerecord.attributes.user.last_name", :default => t("activerecord.labels.last_name", :default => "LinkedIn profile"))
            \:
          = link_to @user.linked_in_url,@user.linked_in_url, :target=>'blank'
        - unless @user.skills.blank?
          %p
            %b
              = "Skills"
              \:
            = @user.skills
        - unless @user.experience.blank?
          %p
            %b
              = "Experience"
              \:
            = @user.experience
        - unless @user.volunteer_interests.blank?
          %p
            %b
              = "Volunteer interest"
              \:
            = @user.volunteer_interests
        .wat-cf

      %h3 Badges
      %hr
      - if @user.user_badges.blank?
        %h4 You have no Badges
      - else
        %p
          - @user.user_badges.each do |user_badge|
            = link_to image_tag(user_badge.badge.photo_url), badge_path(user_badge.badge)      

      %h3 Active projects
      %hr
      - if @user.user_projects.blank?
        - if current_user
          %h4 You have no projects.   #{link_to 'Find a project to volunteer', projects_url}
      - else        
        - @user.user_projects.each do |user_project|
          %p
            * 
            = link_to user_project.project.name, project_path(user_project.project) if user_project.project
            - if user_project && user_project.user_project_rating
              Rating: 
              = stars_for_rating(user_project.user_project_rating.rating).html_safe                        
        - if current_user          
          %h4 #{link_to 'Volunteer for another Project', projects_url}      

      %h3 Completed projects
      %hr
      %h4 You have no projects. 

      = link_to('+', user_badges_path) if current_user
      - if current_user == @user
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "Edit") + " " + "Edit Account", edit_user_path(@user), :class => "button"      
      - if current_user && current_user.last_name == 'Kira'
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), user_path(@user), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
        
- content_for :sidebar, render(:partial => 'sidebar')
