- if @non_profit.errors.any?
  .line.bottom15
    - for message in @non_profit.errors.full_messages
      %p.fail= message        
.group
  = f.label :name, t("activerecord.attributes.non_profit.name", :default => "* Name"), :class => :label
  = f.text_field :name, :class => 'text_field'
  %span.description Ex: Habitat for Humanity
.group
  = f.label :email, t("activerecord.attributes.non_profit.email", :default => "* Email"), :class => :label
  = f.text_field :email, :class => 'text_field'
  %span.description Ex: habitat@gmail.com
.group
  = f.label :password, t("activerecord.attributes.non_profit.email", :default => "* Password"), :class => :label
  = f.password_field :password, :class => 'text_field'
  %span.description Ex: opensesame

.group
  = f.label :address, t("activerecord.attributes.non_profit.address", :default => "Address"), :class => :label
  = f.text_field :address, :class => 'text_field'
  %span.description Ex: 123 Burnside Ave
.group
  = f.label :city, t("activerecord.attributes.non_profit.city", :default => "* City"), :class => :label
  = f.text_field :city, :class => 'text_field'
  %span.description Ex: Portland
.group
  = f.label :state, t("activerecord.attributes.non_profit.state", :default => "* State"), :class => :label
  = f.text_field :state, :class => 'text_field'
  %span.description Ex: OR
.group
  = f.label :zip, t("activerecord.attributes.non_profit.zip", :default => "Zip"), :class => :label
  = f.text_field :zip, :class => 'text_field'
  %span.description Ex: 922222
.group
  = f.label :phone, t("activerecord.attributes.non_profit.phone", :default => "Phone"), :class => :label
  = f.text_field :phone, :class => 'text_field'
  %span.description Ex: 123-123-1231

.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), non_profits_path, :class => "text_button_padding link_button"
