.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "Non-Profits", non_profits_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      non-profits
    .inner
      %table.table
        %tr
          %th.first Name
          %th Location
          %th.last &nbsp;
        - @non_profits.each do |non_profit|
          %tr{:class => cycle("odd", "even")}
            %td{:width=>'250px'}= link_to non_profit.name, non_profit
            %td #{non_profit.city}, #{non_profit.state}              
            %td.last
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
