.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "All Non-Profits", non_profits_path
      %li.active= link_to @non_profit.name, non_profit_path
  .content
    .inner
      %h2 #{@non_profit.name}
      %br
      %h3 Current Active Projects:
      %ul
        - @non_profit.projects.each do |project|
          %li= link_to project.name, project
        - if @non_profit.projects.blank?
          %li No Active Projects
      - if current_non_profit == @non_profit
        %h3= link_to 'Add a new Project', new_project_path        
      .wat-cf
- content_for :sidebar, render(:partial => 'sidebar')
