.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", projects_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_project_path
  .content
    %h2.title
      Available Projects
    .inner
      %table.table
        %tr
          %th.first Name
          %th 
          %th Description
          %th.last &nbsp;
        - @projects.each do |project|
          %tr{:class => cycle("odd", "even")}
            %td{:width=>'250px'}
              = project.name
            %td
              = project.description
            %td
              = project.time
              
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", project_path(project)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_project_path(project)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", project_path(project), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
