.block
  .secondary-navigation
    %ul.wat-cf
      %li= link_to "#{t("web-app-theme.new", :default => "Non Profit")}", non_profit_path(@project.non_profit)
      %li.active= link_to "#{t("web-app-theme.show", :default => "Project")}", project_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.project.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @project.name
      %p
        %b
          = t("activerecord.attributes.project.description", :default => t("activerecord.labels.description", :default => "Description"))
          \:
        = @project.description
      %p
        %b
          = t("activerecord.attributes.project.skills", :default => t("activerecord.labels.skills", :default => "Skills"))
          \:
        = @project.skills
      %p
        %b
          = t("activerecord.attributes.project.time", :default => t("activerecord.labels.time", :default => "Time"))
          \:
        = @project.time
      .wat-cf
      - if current_non_profit
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_project_path(@project), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), project_path(@project), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
