.block
  .secondary-navigation
    %ul.wat-cf
      %li.active= link_to "#{t("web-app-theme.show", :default => "Project")}", project_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.project.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @project.name
      %p
        %b
          = t("activerecord.attributes.project.non_profit_id", :default => t("activerecord.labels.non_profit_id", :default => "Non-profit"))
          \:
        = link_to @project.non_profit.name, @project.non_profit 
      %p
        %b
          = t("activerecord.attributes.project.description", :default => t("activerecord.labels.description", :default => "Description"))
          \:
        = @project.description
      %p
        %b
          = t("activerecord.attributes.project.skills", :default => t("activerecord.labels.skills", :default => "Skills"))
          \:
        = @project.skills
      %p
        %b
          = t("activerecord.attributes.project.time", :default => t("activerecord.labels.time", :default => "Time"))
          \:
        = @project.time
      .wat-cf
      %h2 People Applied:
      %ul
        - UserProject.where(project_id: @project.id).each do |user_project|
          %li
            = link_to "#{user_project.user.first_name} #{user_project.user.last_name}", user_project.user
            - if user_project && user_project.user_project_rating
              Rating: 
              = stars_for_rating(user_project.user_project_rating.rating).html_safe
              - if current_non_profit && @project.non_profit == current_non_profit
                = link_to "(Edit Rating)".html_safe, edit_user_project_rating_path(:id=>user_project.user_project_rating.id, :user_id=>user_project.user.id, :user_project_id=>user_project.id)
            - else
              - if current_non_profit && @project.non_profit == current_non_profit
                &nbsp;
                = link_to "(Rate User)".html_safe, new_user_project_rating_path(:user_id=>user_project.user.id, :user_project_id=>user_project.id)
      %br
      - if current_user && current_user.user_projects.detect{ |up|up.project == @project   }.blank?

        = link_to "Apply to Project", join_project_path(@project), :method=>:post
      - if current_non_profit
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_project_path(@project), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), project_path(@project), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
